@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Roboto&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    }

p, h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: Roboto Mono;
}

.fullBodyContainer {
    height: 100vh;
    background-color: black;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-bottom: 10px;
}

.dashboardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: rgb(177, 177, 177);
}

/* SIDEBAR CSS */

.sidebarContainer {
    /* width: 25%; */
    flex: 1;
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(177, 177, 177);
}
.sidebarTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.createButton {
    display: flex;
    text-decoration: none;
    color: rgb(177, 177, 177);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.createButton:hover {
    background-color: rgb(61, 61, 61);
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 185px);
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.watchlistSidebarContainer {
    text-decoration: none;
    list-style-type: none;
    color: rgb(227, 227, 227);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.sidebarImg {
    height: 30px;
    width: 30px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.watchlistInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.watchlistTitle {
    align-items: center;
}
.watchlistSidebarContainer:hover {
    background-color: rgb(33, 33, 33);
}

/* CENTER SECTION, WATCHLIST CONTENT */

.watchlistContent {
    width: 75%;
    display: flex;
    flex-direction: row;
    color: rgb(227, 227, 227);
}
.watchlistSide {
    flex: 2;
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    border-radius: 10px;
    /* width: 50%; */
}
.watchlistHeader {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.watchlistImg {
    height: 200px;
    width: 200px;
    background-color: rgb(176, 176, 176);
    padding: 10px;
    border-radius: 10px;
}
.headerRight {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addAndDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* SHOW CONTENT */
.showSide {
    flex: 1;
    height: 100%;
    /* width: 50%; */
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.showSideContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.showImg {
    height: 250px;
    width: 250px;
    background-color: rgb(176, 176, 176);
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

.showTitle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.showRating {
    margin-bottom: 10px;
    font-style: italic;
}
.showStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(11, 11, 11);
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
}
.showGenre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-style: italic;
    margin-bottom: 10px;
}
.showDescription {

}

/* LOGIN PAGE */

.loginContainer {
    display: flex;
    flex-direction: row;
    color: rgb(227, 227, 227);
    background-color: black;
    align-items: center;
}
.loginForm {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginFormContainer {
    background-color: rgb(33, 33, 33);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginHeader {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.username {
    margin-top: 15px;
}
.password {
    margin-bottom: 15px;
}
.submitButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.loginImg {
    width: 50%;
    height: 100vh;
}

/* Register PAGE */

.formContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input {
    margin-left: 5px;
}

/* ADD SHOW FORM  */
.addShowForm {
    display: flex;
    flex-direction: column;
    margin: 15px;;
}
.formRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.formRow3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


