* {
    margin: 0;
    padding: 0;
    }

.fullBodyContainer {
    height: 100vh;
    background-color: black;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-bottom: 10px;
}

.dashboardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    color: rgb(129, 129, 129);
}

/* SIDEBAR CSS */

.sidebarContainer {
    /* width: 25%; */
    flex: 1;
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(129, 129, 129);
}
.sidebarTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.createButton {
    display: flex;
    text-decoration: none;
    color: rgb(129, 129, 129);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
}
.createButton:hover {
    background-color: rgb(61, 61, 61);
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.watchlistSidebarContainer {
    text-decoration: none;
    list-style-type: none;
    color: rgb(129, 129, 129);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

}
.watchlistSidebarContainer:hover {
    background-color: rgb(33, 33, 33);
}

/* CENTER SECTION, WATCHLIST CONTENT */

.watchlistContent {
    width: 75%;
    display: flex;
    flex-direction: row;
    color: rgb(129, 129, 129);
}
.watchlistSide {
    flex: 2;
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    border-radius: 10px;
    /* width: 50%; */
}

/* SHOW CONTENT */
.showSide {
    flex: 1;
    height: 100%;
    /* width: 50%; */
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}




